

#pokemon {

    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

body {
    background: #fff url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/choose-wisely-iffah-riyanti.jpg) center center/cover no-repeat;
}

img {
    width: 300px;
}

button {

    margin-top: 2rem;
    margin-left: 50%;
}